/* ===========
conyent table
1.left section 
2.right section = animation 
3.Resposive Design
============*/

.main {
  margin: 4rem 0;
}
main.flex {
  gap: 0.9rem;
  align-items: start;
}



/* ===========
1.right section ==>> cards
=========== */

main section.right-secction {
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  column-gap: 1rem;
  row-gap: 2rem;
  flex-grow: 1;
}

.card .box {
  padding: 0.2rem;
}

.card .box .title {
  color: var(--title);
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1.3rem;
  padding-left: 0.5rem !important;

  text-transform: capitalize;
}
.flexCer{
    justify-content: space-between;
}
.card .box .subtitleCer {
  color: var(--subtitle);
  font-size: 15px;
  padding-left: 0.5rem;
}
.card .box .date {
  color: var(--subtitle);
  font-size: 0.9rem;
  padding-left: 0.5rem;
}

.icons {
  justify-content: space-between;
}

.icon-link,
.icon-github {
  color: var(--subtitle);
  border-radius: 50%;
  transition: 0.3s;
  font-size: large;
  margin-bottom: 0.5rem;
}

.icon-link:hover,
.icon-github:hover {
  /* font-size: 1.4rem; */
  cursor: pointer;
  transition: 0.3s;
  color: var(--purple);
  box-shadow: 1px 1px 30px var(--title);
}
.card {
  margin: 0.1rem;
}
.card p.link {
  color: var(--purple);
  margin-right: 12px;
}
.date{
    font-size: 13px;
    color:var(--subtitle);

}
.card {
  border: 1px solid var(--lightpurple);
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0.2px 0.1px 10px var(--purple);
  /* height: 23rem; */
  width: 18rem;
  /* background-image: linear-gradient(rgba(236, 90, 236, 0.103),rgb(173, 62, 149)); */
}

.card:hover {
  border: 1px solid var(--purple);
  /* rotate: 1deg; */
  /* scale: 1.02; */
  cursor: pointer;
}

.card .videocard {
  height: 13rem;
  width: 18rem;
  object-fit: cover;
  border-radius: 5px;
}

.customvideo {
  box-shadow: 10px 5px 40px var(--purple);
  width: 800px;
  height: 600px;
  z-index: 5000;
}


.sizetitle {
  font-size: 1rem;
}

.containerVID {
  flex-direction: column;
  width: 800px;
  height: 600px;
  background-color: rgba(2, 2, 2, 0.7);
  backdrop-filter: blur(2px);
}
.header{
    margin-bottom: 20px;
    color: var(--title) !important;
}
.editicon {
  text-align: right;
  font-size: 2rem;
  color: var(--purple);
}
/* ===========
3.Resposive Design

=========== */
@media (max-width: 700px) {
  main.flex {
    /* background-color: aqua; */
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .left-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .left-section button {
    background-color: rgba(36, 37, 48, 1);
    width: 8.5rem;
    padding: 0.8rem 0;
    font-size: 1rem;
  }
}
