@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #000;
  --secondary: rgba(104, 93, 104, 0.039);
  --border: rgba(125, 51, 109, 0.395);
  --title: rgb(244, 244, 245);
  --subtitle: rgb(233, 198, 228);
  --bgHeader: rgb(39 39 42);
  --purple: rgb(248, 67, 209);
  --hoverheader: #e736d0;
    --btn: rgb(100, 95, 99);

  --write: rgb(247, 241, 245);
  --lightpurple: rgba(248, 67, 209, 0.2);
  --containerpadding: 4.8rem;
}

.light {
  --primary: white;
  --secondary: rgba(153, 135, 151, 0.139);
  --border: rgba(125, 51, 109, 0.116);
  --title: rgb(27, 22, 27);
  --subtitle: rgb(105, 23, 94);
  --bgHeader: rgb(199, 86, 174);
  --purple: rgb(248, 67, 209);
  --btn: rgb(208, 194, 205);

  --hoverheader: #f1e6ee;
  --lightpurple: rgba(248, 67, 209, 0.2);
  --write: rgb(102, 8, 71);
  --containerpadding: 4.8rem;
}

body {
  background-color: var(--primary);
  overflow-x: hidden;
}
.mylinks{
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  margin: 1rem ;
  background-color: var(--secondary);
  backdrop-filter: blur(0px);
  padding: 10px ;
}
.mylinksdisplay{
  display: block;

}
.iconcolor{
  color: #f376e2e8;
}
.container {
  border: 1px solid var(--border);
  border-radius: 1rem;
  width: 90%;
  margin: 2rem auto;
  background-color: var(--secondary);
  backdrop-filter: blur(1px);
  padding: 5px 2rem;
}

.container1 {
  width: 93%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  all: unset;
    color: var(--title);

}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

@media (max-width: 1000px) {
  .container {
    --containerpadding: 1.2rem;
    width: 80%;
    padding: 0 var(--containerpadding);
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 400px) {
 .mylinksdisplay{
  display: none;
 }
}
/* for Firefox */
html {
  scrollbar-color: var(--secondary) #a99ba40e;
}

.scroll2top {
  color: var(--purple);
  font-size: 2rem;
  border-radius: 50%;
  transition: 0.3s;
  position: fixed;
  bottom: 2rem;
  right: 3%;
}

@media (max-width: 600px) {
  .scroll2top {
    right: 5%;
  }
}
